@font-face {
  font-family: inter-matracode;
  src: url(/common/fonts/inter.woff2) format(woff2);
}
head,
body{
   margin: 0;
   padding: 0;
}
body{
   box-sizing: border-box;
   position: relative;
   font-family: inter-matracode;
}
.appearance{
    -webkit-appearance:     none !important;
    -moz-appearance:        none !important;
    -ms-appearance:         none !important;
    -o-appearance:          none !important;
    appearance:             none !important;
}
a{
   text-decoration: none !important;
   color: black;
}
.navbar{
   backdrop-filter: blur(5px) saturate(5%);
   -webkit-backdrop-filter: blur(5px) saturate(5%);
}
.zero-background{
   position: absolute;
   margin: 0 !important;
   padding: 0 !important;
}
.zero-background img{
   background: url(/common/img/zero-background.jpg) !important;
   background-repeat: no-repeat;
   background-size: cover !important;
   width: 100%;
   height: 100vh;
   overflow: hidden;
   margin: 0 !important;
   padding: 0 !important;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
   opacity: .3;
}
.section-head{
   padding-top: 15vh !important;
   position:  relative !important;
}
.landing-cta-holder{
   background: hsla(0, 0%, 75%, 0.4);
   backdrop-filter: blur(5px) saturate(100%);
   -webkit-backdrop-filter: blur(5px) saturate(100%);
   border-radius: 12px;
   padding: 20px 10px;
}
.p-CTA{
   font-weight: 700;
}
.landing-login-as{
   background: hsla(221, 93%, 82%, 0.4);
   max-width: 150px;
   padding-top: 20px;
   border-radius: 12px;
}
.landing-login-as img{
   width: 50px;
   height: 50px;
   opacity: 0.9;
}
.landing-login-as a{
   color: #252525;
}
