main{
   position: relative;
}
.section-head-agent{
    padding-top: 18vh !important;
   position:  relative !important;
}
select{
   padding: 9px;
   border: solid 1px #adadad;
   outline: 0;
   background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #eeeeee), to(#FFFFFF));
   background: -moz-linear-gradient(top, #FFFFFF, #CAD9E3 1px, #FFFFFF 25px);
   color: #4b4b4b;
   border-radius: 6px;
}
.user-form,form{
   overflow: hidden;
}
.photo-holder{
   background: #dfdfdf;
   width:150px;
   height: 150px;
   color: #646464;
   text-align: center !important;
}
.agent-details{
   position: fixed !important;
   top: 65px;
   left: 0px;
   right: 0;
   width: 100%;
   z-index: 99;
   padding: 5px 10px 0 10px;
   margin: 0;
}
.agent-details p{
   margin: 0 !important;
}
